.about-section{
  background-color: $theme;
  padding: 80px 0;
  position: relative;
  overflow: hidden;
  z-index: 1;

  .left-img, .right-img, .arrow-shape{
    position: absolute;
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
  .left-img{
    top: 0;
    left: 0;
    z-index: -1;
  }
  .right-img{
    top: -37px;
    right: 0;
    z-index: -1;
  }
  .arrow-shape{
    bottom: 20px;
    right: 100px;
  }
  .heading{
    text-align: center;
    .title{
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  .about-items{
    margin-top: 40px;
    .item{
      .img{
        img{
          max-width: 100%;
          border-radius: 50%;
        }
      }
      .title{
        font-size: 20px;
        margin: 15px 0;
      }
      .desc{
        width: 50%;
        margin: 0 auto;
        line-height: 1.3;
        @media screen and (max-width: 991px) {
          width: 80%;
        }
      }
    }
  }
}
