.banner-section{
  height: 100vh;
  background-size: cover;
  background-color: rgba($theme, .8);
  background-blend-mode: darken, luminosity;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 591px) {
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
  }

}
