.btn-theme{
  padding: 10px 60px;
  display: inline-block;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: $theme-secondary !important;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s all ease-in-out;

  &:hover{
    background-color: darken($theme-secondary, 5) !important;
  }

}
