.btn-theme{
  padding: 10px 30px;
  display: inline-block;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: $theme-secondary;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
