.navbar{
  background-color: $theme-dark;
  padding: 10px 20px;
  height: 100px;

  @media screen and (max-width: 991px) {
    height: auto;
  }

  .navbar-brand{
    .logo-res{
      width: 100px;
      height: auto;
    }
  }
  .collapse{
    .navbar-nav{
      .nav-item{

        .nav-link{
          text-decoration: none;
          display: inline-block;
          margin-right: 20px;
        }
      }
    }
  }
}
