.navbar{
  background-color: rgba(83, 128, 193, 0.5);
  padding: 10px 20px;
  height: 100px;

  @media screen and (max-width: 991px) {
    height: auto;
  }

  .navbar-brand{
    .logo-res{
      width: 100px;
      height: auto;
    }
  }
  .collapse,.collapsing{
    .navbar-nav{
      .nav-item{
        .nav-link{
          text-decoration: none;
          display: block;
          color: #ffffff;
          padding: 10px 20px;
          background-color: transparent;
          transition: all .4s ease;
          @media screen and (max-width: 991px) {
            padding-left: 0;
            color: #ffffff;
            &:hover{
              background-color: transparent!important;
              color: rgba(#fff, .7)!important;
            }
          }
          &:hover{
            transition: all .4s ease;
            background-color: rgba(#fff, .2);
          }
        }
      }
    }
  }
}
