.order-2-section{
  width: 100%;
  background-color: $theme;
  position: relative;
  padding: 80px  20px;

  @media screen and (max-width: 575px) {
    padding: 80px 20px;
  }

  .shape-1{
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: -1;

    @media screen and (max-width: 991PX) {
      display: none;
    }

  }

  .shape-2{
    position: absolute;
    top: 80px;
    right: 40px;
    z-index: -1;

    @media screen and (max-width: 991PX) {
      display: none;
    }

  }

  .shape-3{
    position: absolute;
    bottom: 80px;
    left: 40px;
    z-index: -1;

    @media screen and (max-width: 991px) {
      display: none;
    }

  }

  .shape-4{
    position: absolute;
    bottom: 90px;
    right: 320px;
    z-index: -1;

    @media screen and (max-width: 1200px) {
      bottom: 30px;
      right: 30px;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }

  }

  .res-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    .image-effect{
      transform: scale(1);
      transition: 0.5s all ease-in-out;
      overflow: hidden;
      border-radius: 50%;

      &:hover{
        transition: 0.5s all ease-in-out;
        transform: scale(1.1);
      }

    }

  }

}
