.order-section{
  width: 100%;
  background-color: $theme-dark;
  position: relative;

  .shape-1{
    position: absolute;
    top: 50px;
    left: 40px;

    @media screen and (max-width: 600px) {
      display: none;
    }

    .triShap-left{
      transform: rotate(35deg);
    }

  }

  .shape-2{
    position: absolute;
    top: 50px;
    right: 40px;

    @media screen and (max-width: 600px) {
      display: none;
    }

  }

  .shape-3{
    position: absolute;
    bottom: 50px;
    left: 40px;

    @media screen and (max-width: 600px) {
      display: none;
    }

  }

  .shape-4{
    position: absolute;
    bottom: 50px;
    right: 40px;

    @media screen and (max-width: 600px) {
      display: none;
    }

    .triShap-left{
      transform: rotate(35deg);
    }
  }

  .res-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 991px) {
      height: 60vh;
    }

    @media screen and (max-width: 600px) {
      height: 50vh;
    }

    .h1{
      font-size: 72px;

      @media screen and (max-width: 600px) {
        font-size: 35px;
      }

    }

  }

}
