.order-section{
  width: 100%;
  background-color: $theme-dark;
  position: relative;
  padding: 80px 20px;
  z-index: 2;

  @media screen and (max-width: 575px) {
    padding: 80px 20px;
  }

  .shape-1{
    position: absolute;
    top: 80px;
    left: 40px;
    z-index: -1;

    @media screen and (max-width: 1100px) {
      top: 40px;
    }

    @media screen and (max-width: 991PX) {
      display: none;
    }

    .triShap-left{
      transform: rotate(-15deg);
    }

  }

  .shape-2{
    position: absolute;
    top: 80px;
    right: 40px;
    z-index: -1;

    @media screen and (max-width: 991PX) {
      display: none;
    }

    .dots-right{
      transform: rotate(0);
    }

  }

  .shape-3{
    position: absolute;
    bottom: 80px;
    left: 40px;
    z-index: -1;

    @media screen and (max-width: 1200px) {
      bottom: 10px;
    }

    @media screen and (max-width: 991px) {
      display: none;
    }

  }

  .shape-4{
    position: absolute;
    bottom: -30px;
    right: 40px;
    transform: rotate(-30deg);
    z-index: -1;

    @media screen and (max-width: 991px) {
      display: none;
    }

  }

  .res-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;

    .image-effect{
      transform: scale(1);
      transition: 0.5s all ease-in-out;
      overflow: hidden;
      border-radius: 50%;

      &:hover{
        transition: 0.5s all ease-in-out;
        transform: scale(1.1);
      }

    }

  }

}
