.order-2-section{
  width: 100%;
  background-color: $theme;
  position: relative;
  padding: 80px 0;

  @media screen and (max-width: 575px) {
    padding: 80px 20px;
  }

  .shape-1{
    position: absolute;
    top: 50px;
    left: 40px;

    @media screen and (max-width: 991PX) {
      display: none;
    }

    .triShap-left{
      transform: rotate(35deg);
    }

  }

  .shape-2{
    position: absolute;
    top: 50px;
    right: 40px;

    @media screen and (max-width: 991PX) {
      display: none;
    }

    .dots-right{
      transform: rotate(0);
    }

  }

  .shape-3{
    position: absolute;
    bottom: 50px;
    left: 40px;

    @media screen and (max-width: 991px) {
      display: none;
    }

    .triShap-left{
      transform: rotate(35deg);
    }

  }

  .shape-4{
    position: absolute;
    bottom: 50px;
    right: 40px;

    @media screen and (max-width: 991px) {
      display: none;
    }

    .dots-right{
      transform: rotate(35deg);
    }

  }

  .res-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
  }

}
