.service-section{
  background-size: cover;
  background-color: rgba($theme-secondary, .8);
  background-blend-mode: darken, luminosity;
  position: relative;
  padding: 80px 20px;
  z-index: 2;

  @media screen and (max-width: 767px) {
    overflow-x: hidden;
  }

  .shape-position{
    position: absolute;
    top: -25px;
    left: 20px;

    @media screen and (max-width: 991px) {
      display: none;
    }

  }

  .content-res{
    padding: 150px 0;

    @media screen and (max-width: 991px) {
      padding: 35px 0;
    }

    .box-content{
      width: 250px;
      height: 250px;
      border: 7px solid #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      text-align: center;

      @media screen and (max-width: 991px) {
        width: 250px;
        height: 250px;
      }

    }

  }

}
