.text-theme{
  color: $theme-dark;
}

.text-light-theme{
  color: $theme;
}

.title{
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  @media screen and (max-width: 991px) {
    font-size: 45px;
  }

}

.sub-title{
  margin: 20px 0;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  @media screen and (max-width: 991px) {
    font-size: 25px;
  }

}

.desc{
  font-size: 25px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  @media screen and (max-width: 991px) {
    font-size: 20px;
  }

}

.sub-desc{
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  @media screen and (max-width: 991px) {
    font-size: 16px;
  }

}
